body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.detail-container {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    padding: 25px;
    gap: 20px;
    background-color: white;
}

.detail-img {
    width: 100%;
    padding: 15px;
    height: fit-content;
    box-sizing: border-box;
    background-color: #F2F0E6;
    border-radius: 10px;
}

img {
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    background-color: #F2F0E6;
    border-radius: 10px;
    box-sizing: border-box;
}

.detail-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

.detail-options {
    margin-bottom: 10px;
    padding: 10px;
    max-height: 900px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.detail-option-contain {
    display: flex;
    flex-direction: column;
}

.option-name {
    font-weight: bold;
    margin-bottom: 10px;
    flex-grow: 0.3;
}

.in-option {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.extra {
    border: 1px solid #ccc;
    flex-grow: 1;
    text-align: center;
    background-color: white;
    border: 1px solid #C0954A;
    border-radius: 10px;
}